@import '../../../css/general_styling';

.error {
  background-color: rgba(196, 51, 0, 0.5);
  border-radius: 5px;
  padding: 5px;
  color: white !important;
  border: 1px solid $primary-color;
  width: 250px;
}

.ContainerAppLogin {
  width: 100%;
  margin: 0 auto;
  padding: 3em;
  display: flex;
  flex-direction: row-reverse;
  height: 600px;
  align-items: center;

  /*
  .ant-form-item {
    border:1px solid red;
    width: 70%;
  }
*/
  .ant-form-item-label > label {
    color: $white;
    font-weight: 700;
  }

  .ButtonPrimary {
    padding: 0 5em;
    margin-top: 1em;
    background: $primary-color;
    height: 2em;
    cursor: pointer;
    p {
      position: relative; 
      bottom: 5px;
      color: $white;
    }

    &:hover {
      background: $hover;
      p {
        color: $white;
      }
    }
  }

  .loginLogo {
    position: relative;
    bottom: 50px;
    display: flex;
    width: 50%;
    justify-content: center;
    align-items: center;
  }
  .LoginFormContainer {
    width: 48%;
    margin: 0 auto;
    padding: 0 5em;
    border-right: 1px solid lightgray;
    .ant-form {
      display: flex;
      flex-direction: column;
      .username {
        width: 100%;
        .ant-form-item-required {
          color: $white !important;
          font-weight: 700 !important;
        }
      }
      .password {
        width: 100%;
        .ant-form-item-required {
          color: $white !important;
          font-weight: 700 !important;
        }
      }
    }
    .formImg {
      display: none;
    }
  }
}

form{
  position:relative;
}

.ant-input-affix-wrapper {
  background-color: transparent;
}



@media only screen and (max-width: 1200px) {
  .ContainerAppLogin {
    flex-direction: row-reverse;
    padding: 5em 0;
    .LoginFormContainer {
      width: 100%;
      .formImg {
        margin-bottom: 2em;
        display: inline;
      }
    }
  }
}

@media only screen and (max-width: 960px) {
  .ContainerAppLogin {
    flex-direction: column;
    padding: 5em 0;
    .loginLogo {
      display: none;
    }
    .LoginFormContainer {
      width: 100%;
      border-right: none;
      padding: 0;
      .ant-form-item {
        width: 100%;
      }
      .formImg {
        margin-bottom: 2em;
        display: inline;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .ContainerAppLogin {
    padding: 0;
    .LoginFormContainer {
      padding: 0;
    }
  }
}

@media only screen and (max-width: 400px) {
  .ContainerAppLogin {
    padding: 0em;
  }
}

@media only screen and (max-width: 500px) {
  .ContainerAppLogin {
      .buttonSection {
        button {width: 100%;}
    }
  }
}
