@import '../../../css/general_styling';

.titleSection {
  text-align: center;
}

.totalCalls {
  margin-top: 6em;
  margin-left: 20em;
}

.searchContainer {
  margin: 1em 0 0 0;
  button {
    background: #344086;
  }
  button:hover {
    background-color: #6977c5;
  }
  button:visited {
    background-color: #6977c5;
  }
  button:focus {
    background-color: #6977c5;
  }
  button::after {
    background-color: #6977c5;
  }

  span {
    color: white;
  }
}
.contentSectionContainer {
  margin-top: 2em;
  padding: 0 2em 0 2em;
  .operator {
    .operatorDropdown {
      display: inline-block;
      margin-left: 0.5em;
    }
  }
}

.apexcharts-xaxis-title {
  font-style: italic;
}

.ant-table-tbody > tr:hover:not(.ant-table-expanded-row):not(.ant-table-row-selected) > td {
  background: transparent !important;
}

.loading{
  margin-top: 4em;
}