@import '../../../css/general_styling';

/* ROLES TAMAÑO */
.ant-radio-group-large .ant-radio-button-wrapper {
  font-size: 12px;
}

.userAdminContainer {
  @include primary-text(18px, $white, bold);
  line-height: 8px;
  padding-left: 1em;
}
.ant-radio-group-large .ant-radio-button-wrapper {
  width: 30%;
  border-radius: 5px;
  background-color: grey;
}

.ant-radio-group-large .ant-radio-button-wrapper:hover {
  color: #222222;
}

.ant-radio-button-wrapper-checked {
  background-color: $yellow !important;
  border: none;
}

.ant-radio-group-large {
  display: flex;
  width: 70%!important;
  justify-content: space-between;
}

.mainSection .userDetails .buttonSection .ant-form-item-control {
  button {
    display: none;
  }
}
.mainSection .backAndUser {
  button {
    color: $primary-color;
    background-color: transparent;
    border:none;
  }
}
.buttonSection {
  position: relative;
  .ant-form-item-control {
    position: absolute;
    bottom: -5.5em;
    width: 100%;
    justify-content: flex-end;
    display: flex;
    button {
      padding:0em 2.5em;
    }
  }
}


@media only screen and (max-width: 768px) {
  .mainSection {
    .userDetailsEdit {
      padding: 2em !important;
      .formStyle {
        margin: 1em 0;
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        .ant-form-item {
          width: 100%;
        }
      }
      .ant-select {
        width:650px;
      }
      .FormThree {
        .ant-radio-group-large .ant-radio-button-wrapper {
          width: 100%;
        }
      }
    }
  }
}


@media only screen and (max-width: 960px) {
  .mainSection {
    .ant-radio-group-large {
      width: 100%;
    }
}
}

@media only screen and (max-width: 700px) {
  .ant-radio-group-large .ant-radio-button-wrapper {
    width: 100%;}
}

@media only screen and (max-width: 468px) {
  .ant-radio-group-large .ant-radio-button-wrapper {
    //width: 100%;
  }

  .mainSection {
    .userDetailsEdit {
      margin-bottom: 10px;
      .buttonSection {
        flex-direction: column;
        button {
          padding: 1em;
          margin: 0 auto;
        }
        .ant-form-item{
          margin-bottom: 0px;
        }
      }
    }
  }
}
