@import '../../../css/general_styling';

.titleSection {
  text-align: center;
}
.contentSection {
  .buttonsContainer {
    .backButtonContainer {
      float: left;
      margin-bottom: 0px;
      .ant-btn{
        padding: 0 15px 0 0;
      }
    }
    .updateButton {
      float: left;
      border: none;
    }
    .lastUpdate{
      position: relative;
      top: 5px;
      color: rgb(182, 178, 178);
    }
    height: 3em;
  }

  #rendimientos {
    margin-top: 1em;
    font-size: 1.25em;
    margin-bottom: 0;
  }
}

.tooltips-info {
  margin-left: 20px;
}