@import '../../../css/general_styling';

.ButtonPrimary {
  background: $primary-color;
  border-radius: 5px;
  width: max-content;
  padding: 0.5em 3em;
  border: none;
  cursor: pointer;
  box-sizing: border-box;
  -webkit-transition: 500ms ease-out;
  -moz-transition: 500ms ease-out;
  -o-transition: 500ms ease-out;

  p {
    @include primary-text(0.8em, white!important, 600);
    //text-transform: uppercase;
  }

  &:hover {
    background: $hover;

  }
}

.ThemeDisable {
  background: white;
  cursor: auto;
  p {
    color: $dark-grey;
  }

  &:hover {
    background: $light-grey;
    //box-shadow: $shadow-blue;
  }
}

.ThemeSecondary {
  background: $dark-grey;
  cursor: pointer;
  p {
    color: white;
  }

  &:hover {
    background: $dark-grey;
    //box-shadow: $shadow-blue;
  }
}

.ThemePrimary {
  background: $primary-color;
  cursor: pointer;
  //padding: 1em 5em;
  p {
    color: $white;
  }

  &:hover {
    background:$hover;
    p {
      color: $white;
    }
  }
}

.ThemeWhite {
  background: $white;
  cursor: pointer;
  p {
    color: $primary-color;
  }

  &:hover {
    background: #ccc;
  }
}

.ThemeYellow {
  background: $yellow;
  cursor: pointer;
  p {
    color: $white;
  }

  &:hover {
    background: $yellow;
  }
}

.unselected {
  background: $dark-grey!important;
  border: 1px solid transparent;
  cursor: pointer;
  p {
    color: white;
  }

  &:hover {
    background: $primary-color;
    border: 1px solid transparent;
    cursor: pointer;
    p {
      color: white;
    }
  }
}

.selected {
  background: $primary-color;
  cursor: pointer;
  p {
    color: $white;
  }

  &:hover {
    background: #016ca5;

  }
}
