@import '../../../css/general_styling';

.titleSection {
  text-align: center;
  margin-top: 4em;
}

.searchContainer {
  margin: 1em 0 0 0;
  button {
    background: #344086;
  }
  button:hover {
    background-color: #6977c5;
  }

  button:visited {
    background-color: #6977c5;
  }
  button:focus {
    background-color: #6977c5;
  }
  button::after {
    background-color: #6977c5;
  }

  span {
    color: white;
  }
}
.contentContainer {
  margin-top: 2em;
}
.actualState {
  font-size: 20px;
  margin-bottom: 0.5em;
}
.operatorPageStatusName {
  text-align: left;
  font-size: 22px;
}
.operatorPageName {
  text-align: left;
  font-size: 25px;
}

.marginHorizontal {
  margin-left: 10px;
  margin-right: 15px;
}

.mainSectionContainer {
  padding: 0 2em 0 2em;
  text-align: left;
}

.titleSection{
  margin-top: 4em;
}

.contentSection {
    .backButtonContainer {
      margin-bottom: 0px;
      .ant-btn {
        padding: 0 15px 0 0;
      }
    }
}
.operatorDatePicker{
  float: left;
  margin-right: 1em;
  margin-left: 10em;
}