@import "../../../css/general_styling";

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  padding-bottom: 2em;
  .logo {
    width: 60%;
    button {
      background-color: transparent;
      border: transparent;
      padding: 0;
    }
  }
  .NavBar {
    width: 40%;
    justify-content: flex-end;
    display: flex;
  }
}

@media only screen and (max-width: 600px) {
  .NavBar {
    width: 20px;
  }
  .logo {
    width: 80%;
  }
}
